.sidenav {
    background-color: rgba(76, 82, 158, 0.884);
    width: 200px;
    padding: 20px 10px;
}

.sidenav a {
    color: floralwhite;
    font-size: larger;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF ;
}