<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened 
    fixedInViewport="true" fixedTopGap="64"
>
        <mat-nav-list>
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    face
                </i>
                Lista de Usuários
            </a>
           
            <a mat-list-item routerLink="/cadastro">
                <i class="material-icons">
                    article
                </i>
                Cadastro
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>    //inserir aqui
    </mat-sidenav-content>

</mat-sidenav-container>
